<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main-content">
    <div id=error-container>
        <div id="error-message">
            {{err_message}}
        </div>
        <div id="error-gif"></div>
    </div>
</div>
</body>
</html>